@import '~antd/dist/antd.css';
html {
  height: 100% !important;
}
body {
height: 100% !important;
}
.ant-layout{
  background: #fff !important;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff !important;
  background: #1890ff !important;
  position: fixed !important;
    width: 100% !important;
    z-index: 10 !important;
}
.ant-layout-header {
  top: 0 !important;
  height:40px !important;
  display: flex !important;
}
.ant-layout-footer {
  bottom: 0 !important;
  height:20px !important;
  padding: 0 !important;
}
.ant-layout-header h2{
  margin: 0 !important;
  line-height: 40px !important;
  color:#fff !important;
}
.searchTop{
  width:40% !important;
  margin-left: 20% !important;
}
.searchTop input{
  height:30px;
  border-radius: 20px;
  background: #fff;
  width:100%;
  border:1px solid #fff;
  position: relative;
    top: -10px;
}
.ant-layout-content{
  margin: 50px;
  /* border:1px solid #000; */
}

.ant-space.ant-space-horizontal.ant-space-align-center {
  display: inline !important;
}
